# Langchain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini integration
langchain-google-genai
google-generativeai

# Groq Integration
langchain-groq
groq

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Deep Learning
torch
accelerate

# Image Processing
Pillow

# Environment variable management
python-dotenv

# Machine learning utilities
numpy
scikit-learn

# Web UI Framework
streamlit